@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
* {
  box-sizing: border-box;
}
h1 {
  font-family: 'Kaushan Script', sans-serif;
  text-align: center;
}
.wrapper {
  margin-top: 10px;
  border: 1px solid white;
  border-bottom-right-radius: 50px;
  height: 80px;
}
.input-field >label {
  margin-top: 10px;
}
#new-todo {
  margin-top: 10px;
}
.btnAddTodo {
  background-image: radial-gradient( circle farthest-corner at -4% -12.9%,  rgba(74,98,110,1) 0.3%, rgba(30,33,48,1) 90.2% );
  width: 120px;
  margin-top: 20px;
}
.todolist-item {
  margin: auto;
  border-top: 1px solid white;
  border-bottom: 1px solid whitesmoke;
  border-radius: 10px;
  margin-top: 5px;
  height: 60px;
  text-align: center;
}
.buttons {
  margin-top: 20px;
}
#delicon {
  text-align: center;
  background-color: rgba(233, 210, 210, 0.075);
}
